In [1]:
from datetime import datetime

### â™‰ **Opening a File:**

ðŸ‘‰ You can open a file using the `open()` function.

ðŸ‘‰ It takes two arguments: the file name and the mode ("r" for reading, "w" for writing, "a" for appending, and more).

In [10]:
file = open("example.txt", "r")

### â™‰ **Reading from a File:**

In [11]:
file.read()  # Reads the entire content of the file

'This is line 1.\nThis is line 2.\nThis is line 3.\nThis is line 4.\nThis is line 5.'

### â™‰ **Closing a File:**

In [12]:
file.close()

### â™‰ **Writing to a File:**
ðŸ‘‰ Open a file in write mode and use methods like `write()` to add content to it.

ðŸ‘‰ This mode will create the file if it doesn't exist and overwrite its content if it does.

In [13]:
time_file = open("time.txt", "w")
time_file.write(f'Current date and time: {datetime.now()}\n')
time_file.close()

50

### â™‰ **Appending to a File:**
   To add content to an existing file without overwriting, open it in append mode ("a").

In [14]:
time_file = open("time.txt", "a")
time_file.write(f'Current date and time: {datetime.now()}\n')
time_file.close()

50

### â™‰ **Using `with` Statements:**
ðŸ‘‰ Using the `with` statement is recommended as it automatically closes the file when you're done. It's a safer way to handle files.

In [15]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

This is line 1.
This is line 2.
This is line 3.
This is line 4.
This is line 5.

### â™‰ **Reading Lines:**
ðŸ‘‰ You can read a file line by line using methods like `readline()` or by iterating over the file object.

In [69]:
with open("example.txt", "r") as file:
   for line in file:
       print(line.strip())

This is line 1.
This is line 2.
This is line 3.
This is line 4.
This is line 5.

### â™‰ Using the `readline()` function:

In [70]:
with open('example.txt', "r") as file:
    line = file.readline()  # Read the first line
    while line:
        print(line.strip())  # Print the line without newline character
        line = file.readline()  # Read the next line

print("File reading complete.")

This is line 1.
This is line 2.
This is line 3.
This is line 4.
This is line 5.
File reading complete.

### â™‰ Read and parse the CSV file:

In [21]:
def parse_csv(filename):
    # Read the contents of the CSV file and split into lines
    file_content = open(filename, 'r').read()
    lines = file_content.split('\n')

    # Split each line into a list of values using comma as the delimiter
    parsed_data = [line.split(',') for line in lines]

    return parsed_data


# Example usage
csv_filename = "data.csv"
parse_csv(csv_filename)

[['Name', 'Age', 'Email'],
 ['Alice Johnson', '32', 'alice@example.com'],
 ['Bob Smith', '28', 'bob@example.com'],
 ['Catherine Brown', '45', 'catherine@example.com'],
 ['David Wilson', '22', 'david@example.com'],
 ['Emily Martinez', '29', 'emily@example.com'],
 ['Frank Jones', '37', 'frank@example.com'],
 ['Grace Davis', '26', 'grace@example.com'],
 ['Henry Taylor', '33', 'henry@example.com'],
 ['Isabel Miller', '40', 'isabel@example.com'],
 ['Jack White', '24', 'jack@example.com'],
 ['Karen Harris', '29', 'karen@example.com'],
 ['Liam Thomas', '31', 'liam@example.com'],
 ['Megan Jackson', '27', 'megan@example.com'],
 ['Nathan Clark', '36', 'nathan@example.com'],
 ['Olivia Lee', '23', 'olivia@example.com'],
 ['Patrick Johnson', '38', 'patrick@example.com'],
 ['Quincy Anderson', '30', 'quincy@example.com'],
 ['Rachel Brown', '34', 'rachel@example.com'],
 ['Samuel Walker', '25', 'samuel@example.com'],
 ['Taylor Hall', '28', 'taylor@example.com'],
 ['']]

In [2]:
def parse_csv(filename):
    # Initialize an empty list to store the parsed data
    parsed_data = []

    # Open the CSV file for reading
    with open(filename, "r") as file:
        # Iterate through each line in the file
        for line in file:
            # Remove leading/trailing whitespaces, split the line by commas
            # and create a row as a list of values
            row = line.strip().split(",")

            # Append the row to the parsed_data list
            parsed_data.append(row)

    # Return the parsed data
    return parsed_data

In [3]:
# Example usage
csv_filename = "data.csv"
parsed_data = parse_csv(csv_filename)

parsed_data

[['Name', 'Age', 'Email'],
 ['Alice Johnson', '32', 'alice@example.com'],
 ['Bob Smith', '28', 'bob@example.com'],
 ['Catherine Brown', '45', 'catherine@example.com'],
 ['David Wilson', '22', 'david@example.com'],
 ['Emily Martinez', '29', 'emily@example.com'],
 ['Frank Jones', '37', 'frank@example.com'],
 ['Grace Davis', '26', 'grace@example.com'],
 ['Henry Taylor', '33', 'henry@example.com'],
 ['Isabel Miller', '40', 'isabel@example.com'],
 ['Jack White', '24', 'jack@example.com'],
 ['Karen J Harris', '29', 'karen@example.com'],
 ['Liam Thomas', '31', 'liam@example.com'],
 ['Megan Jackson', '27', 'megan@example.com'],
 ['Nathan Clark', '36', 'nathan@example.com'],
 ['Olivia Lee', '23', 'olivia@example.com'],
 ['Patrick Johnson', '38', 'patrick@example.com'],
 ['Quincy Anderson', '30', 'quincy@example.com'],
 ['Rachel Brown', '34', 'rachel@example.com'],
 ['Samuel Walker', '25', 'samuel@example.com'],
 ['Taylor Hall', '28', 'taylor@example.com']]

### â™‰ How to join data back into the CSV string

In [9]:
# Iterate through each row in parsed_data and create a list of rows
[row for row in parsed_data]

[['Name', 'Age', 'Email'],
 ['Alice Johnson', '32', 'alice@example.com'],
 ['Bob Smith', '28', 'bob@example.com'],
 ['Catherine Brown', '45', 'catherine@example.com'],
 ['David Wilson', '22', 'david@example.com'],
 ['Emily Martinez', '29', 'emily@example.com'],
 ['Frank Jones', '37', 'frank@example.com'],
 ['Grace Davis', '26', 'grace@example.com'],
 ['Henry Taylor', '33', 'henry@example.com'],
 ['Isabel Miller', '40', 'isabel@example.com'],
 ['Jack White', '24', 'jack@example.com'],
 ['Karen J Harris', '29', 'karen@example.com'],
 ['Liam Thomas', '31', 'liam@example.com'],
 ['Megan Jackson', '27', 'megan@example.com'],
 ['Nathan Clark', '36', 'nathan@example.com'],
 ['Olivia Lee', '23', 'olivia@example.com'],
 ['Patrick Johnson', '38', 'patrick@example.com'],
 ['Quincy Anderson', '30', 'quincy@example.com'],
 ['Rachel Brown', '34', 'rachel@example.com'],
 ['Samuel Walker', '25', 'samuel@example.com'],
 ['Taylor Hall', '28', 'taylor@example.com']]

In [10]:

# Join each row's elements with commas to create a list of comma-separated strings
[','.join(row) for row in parsed_data]

['Name,Age,Email',
 'Alice Johnson,32,alice@example.com',
 'Bob Smith,28,bob@example.com',
 'Catherine Brown,45,catherine@example.com',
 'David Wilson,22,david@example.com',
 'Emily Martinez,29,emily@example.com',
 'Frank Jones,37,frank@example.com',
 'Grace Davis,26,grace@example.com',
 'Henry Taylor,33,henry@example.com',
 'Isabel Miller,40,isabel@example.com',
 'Jack White,24,jack@example.com',
 'Karen J Harris,29,karen@example.com',
 'Liam Thomas,31,liam@example.com',
 'Megan Jackson,27,megan@example.com',
 'Nathan Clark,36,nathan@example.com',
 'Olivia Lee,23,olivia@example.com',
 'Patrick Johnson,38,patrick@example.com',
 'Quincy Anderson,30,quincy@example.com',
 'Rachel Brown,34,rachel@example.com',
 'Samuel Walker,25,samuel@example.com',
 'Taylor Hall,28,taylor@example.com']

In [11]:
# Join the comma-separated rows using newline character to create the final formatted string
'\n'.join(
    ','.join(row) for row in parsed_data
)

'Name,Age,Email\nAlice Johnson,32,alice@example.com\nBob Smith,28,bob@example.com\nCatherine Brown,45,catherine@example.com\nDavid Wilson,22,david@example.com\nEmily Martinez,29,emily@example.com\nFrank Jones,37,frank@example.com\nGrace Davis,26,grace@example.com\nHenry Taylor,33,henry@example.com\nIsabel Miller,40,isabel@example.com\nJack White,24,jack@example.com\nKaren J Harris,29,karen@example.com\nLiam Thomas,31,liam@example.com\nMegan Jackson,27,megan@example.com\nNathan Clark,36,nathan@example.com\nOlivia Lee,23,olivia@example.com\nPatrick Johnson,38,patrick@example.com\nQuincy Anderson,30,quincy@example.com\nRachel Brown,34,rachel@example.com\nSamuel Walker,25,samuel@example.com\nTaylor Hall,28,taylor@example.com'