In [2]:
words = ['public', 'uber', 'private', 'uber',
         'public', 'uber', 'private', 'uber']

freq ={}

for word in words:
    if word not in freq:
        freq[word] = 0
    freq[word] += 1

freq

{'public': 2, 'uber': 4, 'private': 2}

In [2]:
number = '28379'

digit_to_word ={
    '1': 'one',
    '2': 'two',
    '3': 'three',
    '4': 'four',
    '5': 'five',
    '6': 'six',
    '7': 'seven',
    '8': 'eight',
    '9': 'nine',
    '0': 'zero',
}

for digit in number:
    print(digit_to_word[digit])

two
eight
three
seven
nine

In [1]:
dict = {'good': 'day', 'day':'3'}

def is_key(D,key):
    return key in D
def value(D, key):
    if not is_key(D, key):
        return None
    return D[key]
# is_key(D= dict, key= good)
# is_key(D= dict, key= day)

print(value(dict, 'bad'))

None

In [1]:
marks = {
    'rahul': 90,
    'vidhatri': 90,
    'sanika': 89,
    'cmd':93,   
}

def value_to_keys(D, value):
    keys_to_return = []

    for key in D.keys():
        if D[key] == value:
            keys_to_return.append(key)    
    return keys_to_return

value_to_keys(marks, 90)

['rahul', 'vidhatri']

In [2]:
def dict_to_list(D):
    return list(D.items())

dict_to_list(marks)

[('rahul', 90), ('vidhatri', 90), ('sanika', 89), ('cmd', 93)]

In [4]:
new_list = [('rahul', 90), ('vidhatri', 96), ('sanika', 89), ('cmd', 93)]

def list_to_dict(L):
    new_dict ={}

    for key, value in L:
        new_dict[key] = value

    return new_dict
list_to_dict(new_list)

{'rahul': 90, 'vidhatri': 96, 'sanika': 89, 'cmd': 93}

In [7]:
entry = {'SeqNo': 1, 'Name': 'Devika', 'Gender': 'F', 'City': 'Bengaluru', 'Mathematics': 85, 'Physics': 100, 'Chemistry': 79, 'Biology': 75, 'Computer Science': 88, 'History': 60, 'Civics': 88, 'Philosophy': 95}

(entry['Name'],entry['Mathematics'])

('Devika', 85)

In [10]:
dataset = [
    {'SeqNo': 1, 'Name': 'sanika', 'Gender': 'F', 'City': 'Bengaluru', 'Mathematics': 85, 'Physics': 100, 'Chemistry': 79, 'Biology': 75, 'Computer Science': 88, 'History': 60, 'Civics': 88, 'Philosophy': 95},
    {'SeqNo': 2, 'Name': 'Devika', 'Gender': 'F', 'City': 'Bengaluru', 'Mathematics': 89, 'Physics': 100, 'Chemistry': 79, 'Biology': 75, 'Computer Science': 88, 'History': 60, 'Civics': 88, 'Philosophy': 95},
    {'SeqNo': 3, 'Name': 'rahul', 'Gender': 'F', 'City': 'Bengaluru', 'Mathematics': 85, 'Physics': 100, 'Chemistry': 79, 'Biology': 75, 'Computer Science': 88, 'History': 60, 'Civics': 88, 'Philosophy': 95},
    {'SeqNo': 1, 'Name': 'vidhatri', 'Gender': 'F', 'City': 'Bengaluru', 'Mathematics': 83, 'Physics': 100, 'Chemistry': 79, 'Biology': 75, 'Computer Science': 88, 'History': 60, 'Civics': 88, 'Philosophy': 95},
]

pair_list = []
for entry in dataset:
    pair = (entry['Name'], entry['Mathematics'])
    pair_list.append(pair)

    # print(pair)

pair_list

[('sanika', 85), ('Devika', 89), ('rahul', 85), ('vidhatri', 83)]

In [14]:
def get_marks(dataset, subject):
    pair_list = []

    for entry in dataset:
        pair = (entry['Name'], entry[subject])
        pair_list.append(pair)

    return pair_list

get_marks(dataset=dataset, subject='Mathematics')

[('sanika', 85), ('Devika', 89), ('rahul', 85), ('vidhatri', 83)]

In [20]:
n = 190

factors = set()

for i in range(1,n+1):
    if n % i == 0:
        factors.add(i)

factors

{1, 2, 5, 10, 19, 38, 95, 190}

In [22]:
def factors(n):
    f = set()

    for i in range(1, n+1):
        if n % i == 0:
            f.add(i)
    return f
factors(25)

{1, 5, 25}

In [24]:
f1 = factors(15)
f2 = factors(18)

f1
f2

f1 & f2
f1.intersection(f2)

{1, 3, 5, 15}

{1, 2, 3, 6, 9, 18}

{1, 3}

{1, 3}

In [26]:
def common_factors(a, b):
    f1 = factors(a)
    f2 = factors(b)

    return f1 & f2
common_factors(15, 18)

{1, 3}

In [32]:
def factors_upto(n):
    new_dict ={}

    for i in range(1, n+1):
        # print(i,factors(i))
        new_dict[i] = factors(i)
        
    return new_dict
factors_upto(15)

{1: {1},
 2: {1, 2},
 3: {1, 3},
 4: {1, 2, 4},
 5: {1, 5},
 6: {1, 2, 3, 6},
 7: {1, 7},
 8: {1, 2, 4, 8},
 9: {1, 3, 9},
 10: {1, 2, 5, 10},
 11: {1, 11},
 12: {1, 2, 3, 4, 6, 12},
 13: {1, 13},
 14: {1, 2, 7, 14},
 15: {1, 3, 5, 15}}

In [10]:
sequence_of_words =  ('apple,and,oranges,are,only,fruits')

# real_dict = {}

# for word in sequence_of_words:
#     first = word[0]
#     if first not in real_dict:
        
    # if real_dict.keys() == word[0]:
    #     real_dict += word
    
    
keys = set()
for word in sequence_of_words:
    keys.add(word[0])

real_dict = {}

for key in keys:
    for word in sequence_of_words:
        if word[0] == key:
            if key not in real_dict:
                real_dict[key] =[]
            real_dict[key].append(word)

{}

In [13]:
scores_dataset = {'SeqNo': 1, 'Name': 'Devika', 'Gender': 'F', 'City': 'Bengaluru', 'Mathematics': 85, 'Physics': 100, 'Chemistry': 79, 'Biology': 75, 'Computer Science': 88, 'History': 60, 'Civics': 88, 'Philosophy': 95}

# def group_by_city(scores_dataset):
#     cities = {}
    
#     for city in scores_dataset:
#         cities[city] == scores_dataset[city]

# group_by_city(scores_dataset)



def group_by_city(scores_dataset):
    cities = {}


    for word in scores_dataset:

KeyError: 'SeqNo'